.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: 100%;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(143, 94, 192);
  width: 75vw;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

@media (max-width: 1060px) {
  .title {
    font-size: 1.2rem;
    text-align: left;
  }
  .header {
    margin: auto;
  }
  .socialIcons {
    column-gap: 5px;
  }
}

@media (min-width: 1060px) {
  .title {
    font-size: 2.3rem;
  }
  .header {
    margin: auto;
  }
  .socialIcons {
    column-gap: 10px;
  }
}
