@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  margin: 6rem auto;
  width: 90%;
  animation: fade-in 0.5s 0.1s backwards;
}

.header {
  animation: fade-in 0.5s;
}
