.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(226, 216, 216);
  text-shadow: rgba(117, 176, 192, 0.851) 1px 0 10px;
}

@media (max-width: 1060px) {
  .title {
    font-size: 1.1rem;
    text-indent: 55px;
  }
}

@media (min-width: 1060px) {
  .title {
    font-size: 3rem;
    text-indent: 100px;
  }
}
