p {
  color: white;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3, .content h2 , .content p{
  font-size: 1.25rem;
  color: rgb(226, 216, 216);
  text-shadow: rgba(117, 176, 192, 0.851) 1px 0 10px;
}
