.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.animationFadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.animationFadeOut {
  animation-name: fadeOut;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
